// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    
    .nav-img {
        width:300px;
    }

    .nav-btn {
        top:1.5rem;
    }
    .contacto {

        .container-contact__form > textarea {
            min-height: 200px;
            max-height: 600px;

            max-width:350px;

  
          
        }
    }

    body {
        .main {
        
            .services-info {
                flex-direction: column-reverse;


            }
        }
        
    }

    .main-image {
        .title {
            font-size: $phone-bigTitle;
        }
        .title-description {
            font-size:$phone-title;
        }
    }
    
    .main-arrow {
        #arrow {
            font-size:$phone-title;
        }
    }
    
    .main-title {
        font-size:$phone-title;
    }
    
    .main-description {
        font-size:$phone-font;
    }
    
    .services-info {

        .services-list {
      
     

            .services-item {
                font-size:$phone-subtitle;
                margin:2rem 0;
                
               
            }
            .horas {
                padding:3rem 0 0 0;
   
            }
            
        }
    }
    
    .cars {
        .cars-title {
            font-size:$phone-title ;
        }
    
    }
    
    .cars-list {
        width:100%;
        .cars-item {
            font-size:$phone-font;
        }
    }
    
    .contact-us {
        .contact-btn {
            font-size: $phone-subtitle;
        }
    }
    
    .experience {
        .experience-info {
            font-size:$phone-font ;
        }
        .experience-title {
            font-size:$phone-title ;
        }
    }
    
    .numbers-title {
        font-size: $phone-title;
    }
    
    .percent {
        font-size:$phone-subtitle ;
    }
    
    .clients {
        h2 {
            font-size:$phone-title ;
        }
        .client-cards {

            .client-card {
                text-align: center;
            
                .client-name {
                    font-size:$phone-subtitle ;
                }
                .client-position {
                    font-size:$phone-font ;
                }
    
                .client-comment{
                    font-size:$phone-font ;
                }
            }
        }
    }
    
    
    .companies {
        h2 {
            font-size:$phone-title ;
            
        }
    }



    .footer-description {
        flex-direction: column-reverse;
        text-align: center;

        justify-content: center;
        align-items: center;
        align-content: center;

        .footer-browse,
        .footer-contact {
            text-align: center;

            width: 300px;;
            margin:0;
            padding:0;
        }
    }

}

@media (max-width: 767px) { 


  

    body {
        .main {
        
            .services-info {
            
                .container-circle {
  
                    width:200px;
                    height: 200px;
                }

                .services-list {
             
                }
            }


        }
        
    }

    .main-image {
        .title {
            font-size: $phone-bigTitle;
        }
        .title-description {
            font-size:$phone-title;
        }
    }
    
    .main-arrow {
        #arrow {
            font-size:$phone-title;
        }
    }
    
    .main-title {
        font-size:$phone-title;
    }
    
    .main-description {
        font-size:$phone-font;
    }
    
    .services-info {

        .services-list {
      
     

            .services-item {
                font-size:$phone-subtitle;
                margin:1rem 0;
                
               
            }
            .horas {
                padding:3rem 0 0 0;
   
            }
            
        }
    }
    
    .cars {
        .cars-title {
            font-size:$phone-title ;
        }
    
    }
    
    .cars-list {
        .cars-item {
            font-size:$phone-font;
        }
    }
    
    .contact-us {
        .contact-btn {
            font-size: $phone-subtitle;
        }
    }
    
    .experience {
        .experience-info {
            font-size:$phone-font ;
        }
        .experience-title {
            font-size:$phone-title ;
        }
    }
    
    .numbers-title {
        font-size: $phone-title;
    }
    
    .percent {
        font-size:$phone-subtitle ;
    }
    
    .clients {
        h2 {
            font-size:$phone-title ;
        }
        .client-cards {
            .client-card {
                .client-name {
                    font-size:$phone-subtitle ;
                }
                .client-position {
                    font-size:$phone-font ;
                }
    
                .client-comment{
                    font-size:$phone-font ;
                }
            }
        }
    }
    
    
    .companies {
        h2 {
            font-size:$phone-title ;
        }
    }

    .footer-description {
        flex-direction: column-reverse;
    }

}

@media (max-width: 992px) {  

    /* fontsize */



    .main-image {
        .title {
            font-size: $tablet-bigTitle;
        }
        .title-description {
            font-size:$tablet-title;
        }
    }
    
    .main-arrow {
        #arrow {
            font-size:$tablet-title;
        }
    }
    
    .main-title {
        font-size:$tablet-title;
    }
    
    .main-description {
        font-size:$desktop-font;
    }

    
        .main {
        
            .services-info {
  
                .container-circle {
                    min-width:350px;
                    min-height:350px;
                    padding:0;

                   
                    
                }
                .services-list {
                    padding:1rem 0;
    

                    margin-left:2rem;
                    .services-item {
                        font-size:$tablet-subtitle;
                        
         

               
                    }
                }
            }
        }
        
     

    .cars {
        .cars-title {
            font-size:$tablet-title ;
        }
    
    }
    
    .cars-list {
        width:80%;
        .cars-item {
            
         
            font-size:$phone-font;
            img {
                display: block;
                width:40px;
                margin-left:1rem;
                margin-right:0;
            }
        }
    }
    
    .contact-us {
        .contact-btn {
            font-size: $tablet-subtitle;
        }
    }
    
    .experience {
        .experience-info {
            font-size:$tablet-font ;
        }
        .experience-title {
            font-size:$tablet-title ;
        }
    }
    
    .numbers-title {
        font-size: $tablet-title;
    }
    
    .percent {
        font-size:$tablet-subtitle ;
    }
    
    .clients {
        h2 {
            font-size:$tablet-title ;
        }
        .client-cards {
            .client-card {
                .client-name {
                    font-size:$tablet-subtitle ;
                }
                .client-position {
                    font-size:$tablet-font ;
                }
    
                .client-comment{
                    font-size:$tablet-font ;
                }
            }
        }
    }
    
    
    .companies {
        h2 {
            font-size:$tablet-title ;
            padding-bottom:3rem;
            
        }
    }
    




    /* fontsize end */

    .main-image {
        height:500px;
    }

    .companies-icons {
        flex-direction: column;

        .companies-image {
            padding:1rem;
        }
    }
    .services-info {

        .container-circle {
            margin:4rem 0;
        
        }
    }

    .experience {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .separator {
        visibility: hidden;
        opacity: 0;
    }



    .footer-info {
        flex-direction: column;
    }

    .experience {
        width:90%;
        margin:0 auto;
        .experience-titles {
            width:100%;

            .since {
                line-height: 2rem;
            }
        }
        .experience-info {
            width:100%;
            min-width:200px;


        }
    
    }
    .main-image {
        height:600px;
    }

    .services-info {

        .container-circle {
            width:450px;
            height: 450px;
            margin:0;
        }
    }

    


   
 
}


@media (max-width: 1200px) {  

.nav {

    .nav-menu {
        background-color: rgba($color: #000000, $alpha: 
        .9);
        display:flex;
        flex-direction: column;
        align-items: #F9B200;
        height:100%;
        align-content: center;
        justify-content: center;
        text-align: center;

        position:fixed;
        z-index:998;
        width:100%;
     
        opacity: 1;
        top:0;
        bottom:0;
        right: 0;
        left: 0;

        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);

        a, .nav-contact {
    
            margin:2rem 0;
            padding:0;
            font-size: 1.5rem;
            color:#fff;
        }

        .nav-contact {
            padding:1rem;
        }
    }

    .nav-menu.active {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
}
}


