$orange-color:#FF8600;
$white-color:#fff;
$blue-color:#253D5B;
$green-color:#C2E7D9;
$blue-secondary-color:#758BFD;
$primary-font:'Montserrat', sans-serif;
$secondary-font:'Libre Franklin', sans-serif;


$desktop-font:1.2rem;



